<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="g-box">
          <div class="m-menu">
              <div class="menut"></div>
                <div class="menum">
                    <ul>
                        <li class="first large" id="blogmanage">
                          <a id="526078277" href="http://60342759.lofter.com" class="mi usname"><span class="txt"><span class="lg1">??</span><span class="lg2">60342759.lofter.com</span></span></a><a href="#" class="dropicon bmtag"><span class="tip bmtag" style="display:none;">0</span></a>
                          <div class="a-w-sel a-w-sel-6">
                              <div class="w-sel w-sel-6 bmtag" style="margin-top: -59px;">
                                  <div class="selc">
                                      <div id="bloglstp" class="selcc bmtag">
                                      <div class="seli add"><a class="user j-blogman" href="/newblog">创建新主页</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="border-color:#b2b2b2;" class=""><div class="crtp"></div><a href="/blog/60342759?act=dashboardclick_20130514_04" class="mi"><span class="icn icn-9"></span><span class="txt">文章</span><span class="inf inf-1" id="rside-postcount">3</span></a></li>
                        <li id="j-collection-rside" class=""><a href="/collection/60342759" class="mi"><span class="icn icn-21"></span><span class="txt">合集</span><span id="j-collection-rside-new" class="f-fl"></span><span id="j-collection-count-rside" class="inf inf-1">0</span></a></li>
                        <li class=""><a class="mi" href="/like?act=qbdashboardlike_20121221_01"><span class="icn icn-3"></span><span class="txt">喜欢</span><span class="inf inf-1" id="gsdfavcount">1</span></a></li>

                        <li><a class="mi" href="/follow?act=dashboardclick_20130514_07"><span class="icn icn-1"></span><span class="txt">关注</span><span class="inf inf-1">17</span></a></li>

                        <li id="sidebaritem-wallet" style="display:none" class="">
                            <a href="/wallet.do?op=index" class="mi">
                                <span class="icn icn-20"></span><span class="txt">钱包</span>
                            </a>
                        </li>



                        <li style="display:none;" class=""><a href="/time/60342759" class="mi"><span class="icn icn-17"></span><span class="txt">自动发布</span><span class="inf inf-1" id="rside-postqueuecount">0</span></a></li>
                        <li style="display:none;" class=""><a href="/draft/60342759" class="mi"><span class="icn icn-14"></span><span class="txt">草稿</span><span class="inf inf-1" id="rside-draftcount">0</span></a></li>

                        <li class=""><a href="/message/60342759" class="mi"><span class="icn icn-13"></span><span class="txt">私信</span><span class="inf inf-1 tip" id="bgmanmsg" style="display:none;">0</span></a></li>

                        <li class="noipt "><a class="mi mi-noipt" href="/theme/60342759/?type=setting"><span class="icn icn-8"></span><span class="txt">个人主页设置</span></a></li>

                    </ul>
                </div>
                <div class="menub"></div>
            </div>
        </div>
</body>
</html>



<div class="nav2" id="schtagbox">
    <div class="ssch tbtag">
                  <form class="xtag">
                    <a href="#" class="btn xtag"></a>
                    <label class="xtag" style="display:none;">搜索用户、标签</label>
                      <input type="text" placeholder="搜索用户、标签" class="xtag" onfocus="this.isfocus = true;">
                      <div class="xtag a-show-mask">
                        <div class="new" style="" id="nav2flnew"></div>
                      </div>
                  </form>
              </div></div>
</div>